*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #18191a;
}

.post-container{
    width: 750px;
    background-color: #242526;
}

/* publication header */
.profile-img{
    background-image: url(../assets/img/Perfil.jpg);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-size: cover;
    margin: 10px;
    background-position: center;
}

.url-author{
    font-weight: bold;
    text-decoration: none;
}

.profile{
    display: flex;
    justify-content: space-between;
}

.profile-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

/* publication body */

.publication-info{
    margin: 10px;
}

.publication-info-info{
    text-decoration: none;
    font-weight: bold;
    color: #3B64A2;
}

.publication-img{
    width: 100%;
    height: auto;
}

.publication-img img{
    height: 550px;
    width: auto;
    object-fit: cover;
    display: block;
    margin: 0px auto;
    border-radius: 5px;
}

/* publication description */
.description{
    padding: 15px;
    border: 1px solid #555555;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;

}

.black{
    font-weight: bold;
}

.blue{
    font-weight: bold;
    color: #5D85AA;
}

/* publication reaction */

.reaction{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

/* publication buttons */

.button-publication{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.liked{
    padding: 10px 20px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
    font-weight: bold;
}

.comment{
    padding: 10px 20px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
    font-weight: bold;
}

.share{
    padding: 10px 20px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
    font-weight: bold;
}

.liked:hover{
    background: #4e4f51;
    border-radius: 10px;
    padding: 10px 20px;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
}

.comment:hover{
    background: #4e4f51;
    border-radius: 10px;
    padding: 10px 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.share:hover{
    background: #4e4f51;
    border-radius: 10px;
    padding: 10px 20px;
    padding-left: 10%;
    padding-right: 10%;
}

/* comment area */

.comment-img {
    background-image: url(../assets/img/Perfil.jpg);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-size: cover;
    margin: 10px;
    background-position: center;
}

.comment-publication{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-public{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.comment-text input{
    padding-right: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 15px;
    size: 15px;
    font-weight: 400;
    color: white;
    background-color: #555555;
    border: none;
    display: block;
    width: 70%;
}

.comment-button-reaction input{
    padding: 4px;
    margin: 3px;
    background-color: transparent;
    border: none;
}

.comment-button-reaction{
    margin-right: 10px;

}
